body {
    font: 20px Arial;
    text-align: justify;
}

.navbar {
    background-color: #41d310;
    text-align: justify;
}

.quem-somos {
   background-color: skyblue; 
   color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: grey;
    font: 50px Arial;

}

.bg-footer {
    background-color: black;
    color: white;
}

.servicos {
    background-color: rgb(171, 196, 187);
}